@import "../../../shared/variables/_base.scss";

.Resume {
  transition: all 0.5s;

  & a,
  & a:link,
  & a:visited,
  & a:focus {
    padding: 1rem 2rem;
    text-decoration: none;
    color: $heading1-color;
    font-size: 1.6rem;
    border: 1px solid $heading1-color;
    border-radius: 0.3rem;

    &:hover,
    &:focus {
      background-color: rgba($heading1-color, 0.1);
      transform: translateY(-0.5rem);
    }
  }
}

@media (max-width: $bp-medium) {
  .Resume {
    margin: 4rem 0;
  }
}
