@import "../../shared/variables/_base.scss";

.Logo {
  font-size: 4rem;
  font-family: $font-display;
  align-self: center;
  color: $heading1-color;
}

@media (max-width: $bp-medium) {
  .Logo {
    align-self: flex-start;
  }
}
