// COLOR VARIABLES
// $color-primary-dark: #282726;

// $color-grey-light-1: #d6cab0;
// $color-grey-light-2: #fcfaf1;

// $color-grey-dark-1: #54504c;
// $color-grey-dark-2: #86817c;
$color-primary-dark: rgb(10, 25, 47);

$content-color: rgb(136, 146, 176);

$heading1-color: rgb(100, 255, 218);
$heading2-color: rgb(230, 241, 255);

$icon-color: rgb(168, 178, 209);

$disble-color: rgb(96, 106, 134);

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

//Responnsive Breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px;
$bp-medium: 50em; //800px;
$bp-small: 37.5em; // 600px;
