@import "../../../shared/variables/_base.scss";

.SideDrawer {
  position: fixed;
  width: 70%;
  max-width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  z-index: 200;
  background-color: rgba($color-grey-dark-1, 0.9);
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
  border-bottom: 15px solid $color-grey-light-1;
  border-top: 15px solid $color-grey-light-1;
}

@media (min-width: $bp-medium) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0%);
}

.Close {
  transform: translateX(100%);
  transition: transform 500ms ease-out;
  z-index: 100;
}
// .Logo {
//   height: 11%;
//   margin-bottom: 32px;
// }
