@import "../../shared/variables/_base.scss";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  color: $color-grey-light-1;
  padding: 2rem;

  .heading-1 {
    font-size: 3rem;
  }

  nav {
    &ol {
      display: flex;
    }
  }
}
