@import "../../../shared/variables/_base.scss";

.NavigationItems {
  display: flex;
  flex-wrap: wrap;
  list-style: outside none none;
  align-items: center;
}

@media (max-width: $bp-medium) {
  .NavigationItems {
    flex-flow: column;
  }
}
