@import "../src/shared/variables/_base.scss";
@import "../src/shared/variables/_root.scss";

.show-on-scroll {
  opacity: 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.3s 0.25s ease-out,
    transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  will-change: transform, opacity;
}

.is-visible {
  opacity: 1;
}
