@import "../src/shared/variables/_base.scss";

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;

  @media only screen and(max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  background-color: $color-primary-dark;
  color: $color-grey-light-1;
  font-weight: 300;
  line-height: 1.6;
  scroll-behavior: smooth;
}

.show-on-scroll {
  opacity: 0;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transition: opacity 0.3s 0.25s ease-out,
    transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1);
  will-change: transform, opacity;
}

.is-visible {
  opacity: 1;
}
